<template>
  <q-page>
    <div class="column items-center q-mt-lg q-mb-lg">
      <q-img class="logo" src="../statics/cat-whiskers.png"></q-img>
      <div class="text-h4 font-logo q-mb-md">Meow to you</div>
      <div class="title q-mt-xl text-h3 font-arsenal">Возьми меня с собой!</div>
    </div>
    <div class="row justify-center relative">
      <div class="col-7"><q-carousel
        class="slider"
        arrows
        animated
        v-model="slide"
      >
        <q-carousel-slide v-for="cat in cats" :key="cat.id" :name="cat.id" :img-src="cat.image">
          <div class="absolute-bottom custom-caption">
            <div class="text-h3 font-arsenal">{{cat.name}}</div>
          </div>
        </q-carousel-slide>
      </q-carousel></div>
      <div class="col-6 q-mt-xl text-h5 font-arsenal text-center">{{current.description}}</div>
      <div class="col-10 q-mt-lg text-center"><q-btn outline no-caps class="text-h5 font-arsenal"><a :href="current.link">Приют, где вы сможете забрать нового пушистого друга</a></q-btn></div>
      <div class="col-10 q-mt-md text-body1 font-arsenal text-center">{{current.tel}}, {{current.address}}</div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'PageIndex',
  data () {
    return {
      slide: '',
      cats: null,
      current: null
    }
  },
  methods: {
    ...mapActions({
      changeCurrent: 'Main/cats/changeCurrent'
    })
  },
  computed: {
    ...mapGetters({
      getCurrent: 'Main/cats/getCurrent',
      getCats: 'Main/cats/getCats'
    })
  },
  mounted () {
    this.cats = this.getCats
    this.slide = this.cats[0].id
  },
  updated () {
    this.changeCurrent(this.slide)
    this.current = this.getCurrent
  }
}
</script>

<style lang="sass" scoped>
  .pawprint
    max-width: 50px
  .logo
    max-width: 100px
  .custom-caption
    text-align: center
    padding: 12px
    color: white
    background-color: rgba(0, 0, 0, .3)
</style>
