<template>
  <q-page class="full-height flex">
    <div class="column full-width justify-center items-center q-mt-lg q-mb-lg">
      <q-img class="logo" src="../statics/cat-whiskers.png"></q-img>
      <div class=" text-h4 font-logo">Meow to you</div>
      <div class="q-mt-md text-h4 font-arsenal">Поймай котика!</div>
    </div>
    <div class="cat" >
      <a v-if="!rdrct" class="cursor-pointer" @click="changePosition" :style="position">
        <img basic class="widget" src="../statics/gifs/cat-sad.gif" alt="" :style="position + rotation">
      </a>
      <router-link v-else to="/cats"><a :style="position">
        <img basic class="widget" src="../statics/gifs/cat-happy.gif" alt="" :style="position + rotation">
      </a></router-link>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Main',
  data () {
    return {
      catPos: 0
    }
  },
  methods: {
    ...mapActions({
      setRandomPos: 'Main/floatingCat/setRandomPos',
      togglePhase: 'Main/floatingCat/togglePhase',
      setPhases: 'Main/floatingCat/setPhases'
    }),
    changePosition () {
      this.catPos = this.getPos
      this.togglePhase()
      this.setRandomPos()
    }
  },
  computed: {
    ...mapGetters({
      getPos: 'Main/floatingCat/getPos',
      rdrct: 'Main/floatingCat/rdrct'
    }),
    position () {
      if (this.getPos === 0) {
        return 'top: 0; left: 0;'
      } else if (this.getPos === 1) {
        return 'top: 0; right: 0;'
      } else if (this.getPos === 2) {
        return 'bottom: 0; left: 0;'
      } else if (this.getPos === 3) {
        return 'bottom: 0; right: 0;'
      } else {
        return ''
      }
    },
    rotation () {
      if (this.getPos === 0 || this.getPos === 1) {
        return ' transform: rotate(180deg);'
      } else return ''
    }
  },
  mounted () {
    this.setPhases()
    this.setRandomPos()
    this.catPos = this.getPos
  }
}
</script>

<style lang="sass">
  .cat
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    & img
      position: fixed
    &-link
      position: fixed
      width: 200px
      height: 300px
</style>
