@font-face
  font-family: "Montez"
  src: url("../statics/Montez-Regular.ttf")

@font-face
  font-family: "Arsenal"
  src: url("../statics/Arsenal-Regular.otf")

.font-logo
  font-family: "Montez"
  font-weight: 600

.font-arsenal
  font-family: "Arsenal"

.logo
  max-width: 100px

a
  text-decoration: none
  color: black

@media screen and (max-width: 2560px)
  .slider
    height: 700px

@media screen and (max-width: 1920px)
  .slider
    height: 600px

@media screen and (max-width: 1330px)
  .widget
    width: 150px
  .slider
    height: 400px

@media screen and (max-width: 768px)
  .title
    font-size: 30px
  .widget
    width: 100px
  .slider
    height: 300px

@media screen and (max-width: 425px)
  .slider
    height: 200px
